.darker {
    background-color: grey !important;
    color: white !important;
}

.grey {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    background-color: rgb(223, 220, 220);
    border-bottom: .5px solid rgb(213, 213, 213);
    height: 45px;
    width: 700px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 2;
}

.grey #title {
    left: 48%;
    top: 0;
    margin: 0;
    font-size: 13px;
}
.grey p {
    position: absolute;
}

#store {
    position: absolute;
    top: 21px;
    left: 7px;
    background-color: white;
    border-radius: 4px;
    height: 20px;
    padding: 1px;
    width: 75px;
    font-size: 11px;
    text-align: center;
    color: black;
}

#Resume {
    top: 21px;
    right: 4px;
    position: absolute;
    background-color: white;
    height: 20px;
    width: 35px;
    border-radius: 7px;
}

#Resume i {
   position: absolute;
   left: 9.5px;
   top: 3px;
   color: rgb(92, 92, 92);
   font-size: 15px;
}

#searchAction:hover {
    cursor: pointer;
}

#searchBar {
    top: 21px;
    right: 45px;
    position: absolute;
    border-radius: 5px;
    height: 20px;
    width: 156px;
    border: none;
    text-indent: 21px;
    font-size: 10px;
}

#searchIcon {
    position: absolute;
    right: 180px;
    top: 21px;
    width: 20px;
    z-index: 2;
    height: auto;
    padding: 2px;
}

.dot {
    height: 11px;
    width: 11px;
    margin-right: 7px;
    margin-top: 3px;
    border-radius: 50%;
    display: inline-block;
}

.dot:nth-child(1){
    background-color: #f46f7a;
    margin-left: 10px;
}

.dot:nth-child(2){
    background-color: #f4c025
}

.dot:nth-child(3){
    background-color: #3ec930;
}

.groups {
    position: absolute; 
    height: 16px;
    top: 20px;
    background-color: white;
    font-size: 12px;
    /* left: 36%; */
    left: 42.7%;
    border-radius: 4px;
    text-align: center;
    padding: 0;
}

#allBooks {
    border: none;
    margin-right: 0;
    color: black;
    background-color: white;
    display: inline-block;
    width: 100px;
    /* border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; */
    border-radius: 4px;
}

#authors {
    border: none;
    margin-left: 0;
    display: inline-block;
    color: black;
    background-color: white;
    width: 100px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
